h1 {
  margin-top: 2%;
  margin-bottom: 5%;
}

h3 {
  margin-top: 2.5%;
}
.formContainer {
  border: 1px solid #0a0a0a;
border-style: groove;
box-shadow: 10px 5px 5px #3adb76;
border-radius: 2%;
/* margin-left: 20%;
margin-right: 20%; */
padding-bottom: 5%;
margin: 5% 25% 2% 25%;
}
form {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
flex-direction: column;
}

label {
  display: block;
  margin: 12px;
  height: 2rem;
  text-align: initial;
}
input {
  width: 100%;
}

.buttonContainer {
  margin: 24px;
}
.button {
  background-color: #3adb76;
  color: #0a0a0a;
  font-size: 1.3em;
    width: 70%;
    text-align: center;
    margin: auto;
}